footer	{
	background-color: #44577F;
	color: #ffffff;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	width: 100%;
	p {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}
	.socialmedia {
		display: flex;
		align-content: center;
		justify-content: center;
		margin: 5px;
		padding: 5px;
		list-style: none;
		i {
			color:#44577F;
		 	background-color: white;
		 	margin: 5px;
		 	padding:5px;
		 	border-radius: 25%;
		}
		
	}	
}
