@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$font-principal:  "open sans", sans-serif;
$color-principal: #44577F;
$bg-color: #F9DE92;
$font-color: #F9DE92;
$bg-article: #fefae0;
$color-article: #1d3557;